<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title> kaapalan </title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Loading main css file -->
		<link rel="stylesheet" href="/static/css/style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>

	<body class="header-collapse">
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="index.html" id="branding">
						<img src="static/images/logo.png" alt="Site Title">
						<small class="site-description"></small>
					</a> <!-- #branding -->
					
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
						</ul> <!-- .menu -->
					</nav> <!-- .main-navigation -->
					<div class="mobile-menu"></div>
				</div>
			</header> <!-- .site-header -->
			
			<div class="hero">
				<div class="slider">
					<ul class="slides">
						<li class="lazy-bg" data-background="static/images/slide-2.jpg">
							<div class="container">
								<p>&nbsp;&nbsp;</p>
								<h2 class="slide-title">Admin Login Page</h2>
								<h3 class="slide-subtitle">Access Only For Admins</h3>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
								<a href="javascript: document.body.scrollIntoView(false);" class="button cut-corner">
									Admin Login</a>	
								<div id="bottom">
								</div>
								
							</div>
						</li>
						
						<li class="lazy-bg" data-background="static/images/slide-3.jpg">
							<div class="container">
									<p>&nbsp;&nbsp;</p>
									<h2 class="slide-title">Containment Zones are Added Here</h2>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
									<h3 class="slide-subtitle">New Zones Of Containment Are Mentioned Here</h3>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

									<a href="javascript: document.body.scrollIntoView(false);" class="button cut-corner">Admin Login</a>
									<div id="bottom">
									
									</div>
									
							</div>
						</li>
				

						<li class="lazy-bg" data-background="static/images/slide-1.jpg">
							<div class="container">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
									<h2 class="slide-title">Administration Process Are Done Here</h2>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
									<h3 class="slide-subtitle">Data Must Be From Trustworthy sources</h3>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
									
									<a href="javascript: document.body.scrollIntoView(false);" class="button cut-corner">Admin Login</a>
     									<div id="bottom">
									</div>
								
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<main class="main-content">
				<div class="fullwidth-block testimonial-section">
					<div class="container">
						<div class="quote-slider">
							<ul class="slides">
								<li>
									<blockquote>
										<p>"The containment zones mentioned are from reliable sources"</p>
										<cite>KAAPALAN</cite>
										<span>Designer</span>
									</blockquote>
								</li>
								<li>
									<blockquote>
										<p>"The zones are differentiated and ordered in levels by the analyst team according to the affected survey on those areas"</p>
										<cite>KAAPALAN</cite>
										<span>Designer</span>
									</blockquote>
								</li>
							</ul>
						</div>
					</div>
				</div> <!-- .testimonial-section -->
<main class="main-content">
				<div class="fullwidth-block download">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<h2 class="page-title">Our Application</h2>

								<div class="item">
									<h3 class="item-title">KAAPALAN</h3>
									<span class="year">Download here</span>
									<a href="#" class="button small primary">Download</a>
									
								</div>	
							</div>
							
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->


				<div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
					<div class="container">
						<header class="section-header">
							<h2 class="section-title">Rules And Features Of Application</h2>

							<div class="event-nav">
								<a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
	    						<a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
							</div> <!-- .event-nav -->

						</header> <!-- .section-header -->
						<div class="event-carousel">
							
							<div class="event">
								<div class="entry-date">
									<div class="date">1st</div>
									<span class="month">RULE</span>
								</div>
								<h2 class="entry-title"><a href="#">The chatbot will guide you</a></h2>
								<p>Save lives By giving proper data</p>
							</div> <!-- .event -->
							
							
							<div class="event">
								<div class="entry-date">
									<div class="date">2nd</div>
									<span class="month">RULE</span>
								</div>
								<h2 class="entry-title"><a href="#">Mentioned areas should have atleast one infected person</a></h2>
								
							</div> <!-- .event -->
							
							
							<div class="event">
								<div class="entry-date">
									<div class="date">3rd</div>
									<span class="month">RULE</span>
								</div>
								<h2 class="entry-title"><a href="#">Containment Zones are characterized according to their infection rate in decreasing and increasing levels</a></h2>
								
							</div> <!-- .event -->
							
							
							<div class="event">
								<div class="entry-date">
									<div class="date">4th</div>
									<span class="month">RULE</span>
								</div>
								<h2 class="entry-title"><a href="#">Prior safety measures are provided by the application</a></h2>
							
							</div> <!-- .event -->
							
							
							<div class="event">
								<div class="entry-date">
									<div class="date">5th</div>
									<span class="month">RULE</span>
								</div>
								<h2 class="entry-title"><a href="#">Safety Measures like masks and sanitizations are instructed by teh chatbot</a></h2>
								
							</div> <!-- .event -->
							
						</div> <!-- .event-carousel -->
					</div> <!-- .container -->
				</div> <!-- .upcoming-event-section -->

				<div class="fullwidth-block why-chooseus-section">
					<div class="container">
						<h2 class="section-title">Why choose us?</h2>

						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="static/images/cont_zone/dna.jpg" alt="" height="230">
									</figure>
									<h3 class="feature-title">Infected people around those containment zones are dtected and added in the database</h3>
									<p>Many of the contagiuos diseases are fatal and lead to death,Safety measures to be taken by the users to prevent from getting infection </p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="static/images/cont_zone/caution_note.jpg" alt="">
									</figure>
									<h3 class="feature-title">Direct contact with the unknown and infected people should be avoided</h3>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="static/images/cont_zone/infection_diseases.jpg" alt="">
									</figure>
									<h3 class="feature-title">Beware of infectious diseases and avoid physical contact with the nearby people</h3>
									
								</div> <!-- .feature -->
							</div>
						</div>
					</div> <!-- .container -->
'				</div> <!-- .why-chooseus-section -->
			</main> <!-- .main-content -->
			<bottom>
			<footer class="site-footer">
				<div class="container">
					
					<form class="newsletter-form" action="/home" method="post">
						<input type="email" name="uname" placeholder="Enter your admin mail id...">
					<br><br><br><br>
						<input type="password" name="pass" placeholder="Enter your password...">
					<br><br><br><br>
						<button type="submit" class="button cut-corner">SUBMIT</button>					
					</form> <!-- .newsletter-form -->
					
<script>
function myFunction()
{
var un =document.forms["myform"]["uname"].value;
var pw =document.forms["myform"]["pass"].value;
if(un=="admin@gmail.com" && pw=="admin")
{
    location.href = "data.html";
}
else
{
alert("Invalid mailid or Password");
}
}
</script>
			 	 </div>
			</footer> <!-- .site-footer -->

			</bottom>

		<script src="static/js/jquery-1.11.1.min.js"></script>		
		<script src="static/js/plugins.js"></script>
		<script src="static/js/app.js"></script>
		
	</body>

</html>